.recipe-form {
  margin-bottom: 50px;

  &__ingredient-section {
    padding-top: 20px;
    margin-bottom: 20px;

    h2 {
      @include heading2;
      margin-bottom: 10px;
    }

    ul {
      overflow-x: auto;

      li {
        margin-bottom: 20px;
      }
    }
  }

  &__add-ingredient-btn {
    text-align: center;
  }

  &__submit-btn {
    button {
      width: 100%;
    }
  }
}
