$colors: (
  white: #ffffff,
  black: #000000,
  orange: #f15d2a,
  orange-light: #fdede7,
  gray: #e0e0e0,
  gray-dark: #b0b0b0,
  text: #000000,
);

$html-font-size: 16px;

$header-height: 350px;
$footer-height: 300px;
