.profile-page {
  .row:first-child {
    position: sticky;
    top: 0;
  }

  &__sidebar {
    position: sticky;
    top: 120px;
    height: calc(100vh - 120px);
  }

  &__navbar {
    position: sticky;
    top: 0;
    min-height: 120px;
  }

  &__content {
    height: calc(100vh - 120px);
  }
}
