.sidebar {
  position: relative;
  // padding-top: 120px;
  // background-color: brown;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 2px;
    background-color: black;
  }
}
