html,
body {
  max-width: 100vw;
  overflow-x: clip;
  font-family: var(--font-poppins);
  font-weight: 400;
}

body {
  font-size: $html-font-size;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
}

button {
  color: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
